# ACCESS_TOKEN: Your facebook access token
#   VERIFY_TOKEN: Your facebook verify token
#   APP_SECRET: Your facebook app secret
# API_AI_URL: https://api.api.ai/v1/
# API_AI_CLIENT_ACCESS_TOKEN: Your api.ai client access token